
#neighborsHTML5 {
margin:0 auto;
width:650px;
height:400px;
background-image:url(../images/ui/interactiveFrame.png);
background-color: #444;
background-repeat: no-repeat;
font-family:Verdana, Geneva, sans-serif;

}

#title {
	position:relative;
	margin-left:15px;
	top:12px;
	font-size:16px;
	color: #fff;
}

.subtitle {
	font-weight: normal;
	color: #fcfcc8;
}


#neighborMainMap{
position:relative;
top:32px;
left:12px;
float:left;
width:440px;
height:316px;
margin:0px;
padding:0px;
overflow:hidden;
background-image:url(../images/neighbors/targetBGMap.png);
}
#neighborWorldMap {

position:relative;
}
#neighborTarget {
display:none;
position:absolute;
z-index:5;
left:0px;
top:0px;
width:440px;
height:320px;
opacity:0;
}
#neighborSVGMap {
position:absolute;
z-index:20;
top:0px;
left:0px;
width:440px;
height:316px;
overflow:hidden;
}
#neighborDisplayMap {
position:relative;
top:32px;
float:right;
width:180px;
height:316px;
margin:0px 13px 0px 0px;
padding:0px;
overflow:hidden;
}
#neighborInstrAnimateDiv {
	position:relative;
	display:none;
	
}
#neighborInstrText {
	position:relative;
	z-index:60;
	top:10px;
	left:15px;
	width:155px;
	color:#000000;
	font-size:10px;

}
#neighborIntrBtn {
	position:relative;
	width: 80px;
	left: 570px;
	top: 15px;
	color: #eee;
	font-size: 11px;
	cursor: pointer;
	cursor: hand;
}

#neighborIntrBtn:hover, #neighborIntrBtn:active, #neighborIntrBtn:focus {
	color: #f00;
}

#outerDivButtons
 {
	position:relative;
	z-index:900;
    /*top:12px;*/
    /*left:15px;*/
	float:left; 
	margin:12px 0px 0px 12px;
	padding:0px;
}
#neighborBottomInstr {
    width:100px;
	float:left;
    font-family:Verdana, Geneva, sans-serif;
    font-size:10px;
	margin:3px 25px 0px 0px;
	padding:0px;
	display:none;
}

/*.drag_old {
	position:relative;
	z-index:900;
	height:18px;
	float:left;
	cursor:pointer;
	background-image:url(../images/neighbors/bgBtn.png);
	background-repeat:repeat;
	color:#000000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:3px 13px 2px 0px;
	padding:0px;
	text-align:center;
	}*/

.drag {
    
	margin: 25px 5px 0px 0px;
	padding: 1px 3px;
	float: right;
	min-height: 22px;
	text-align: center;
	
	color: #fff;
	line-height: 22px;
	font-size: 10px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	background-image: none;
	
    border-top: 1px solid #ddd;
    box-shadow: #444 0px 1px 2px;
    background-color: #85986b; 
    background-repeat: repeat-x; 
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b791), to(#85986b)); 
    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #a8b791, #85986b); 
    /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #a8b791, #85986b); 
    /* IE 10 */ background: -ms-linear-gradient(top, #a8b791, #85986b); 
    /* Opera 11.10+ */ background: -o-linear-gradient(top, #a8b791, #85986b);	

    cursor: hand;
    cursor: pointer;	

}

.drag:first-child {
	margin-left: 0px;
}

.neighDrop {
	position:relative;
	background-color:#ffffff;
    border:1px solid #aaa;
	text-align:center;
	font-size: 10px;
	padding-top:2px;
	width: auto; 
}

.insetShadow {
	-moz-box-shadow: 0px 3px 2px #444 inset;
	-webkit-box-shadow: 0px 3px 2px #444 inset;
     box-shadow: 0px 3px 2px #444 inset; 
}

.neighLineDropBox{
	position:absolute;
	
	
	}

.dropOutsideBox{
	position:absolute;
	margin:0px;
	padding:0px;
	z-index:200;
}
#neighborHintBox {
	margin:0px;
	padding:0px;
	position:absolute;
	z-index:300;
	width:100%;	
	background: #fff;
	opacity: 0.9
}

#neighborHintBoxBody {
	position:relative;
	margin:0px;
	padding:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000000;
}

.neighborCountryFlag {
	position:absolute;
	z-index:800;
	height:34px;
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:center;
}


#neighborTargetImage {
	position:relative;
	left:0x;
	top:0px;
	margin:0px;
	padding:0px;
	z-index:80;

}

#neighborSVGMapDivTarget
{
	position:absolute;
	margin:0px;
	padding:0px;
	display:none;
}
#neighborDivSVG {
	position:absolute;
	left:0x;
	top:0px;
	z-index:200;
	margin:0px;
	padding:0px;
}
/*#neighborLegend_old {
	position:relative;
	top:298px;
	float:right;
	width:50px;
    height:20px;
	z-index:300;
	background-color:#ffffff;
	border-top:1px solid #aaa;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333;
	font-weight:bold;
	display:none;
	padding:0px 5px 0px 3px;
	margin:0px;
		cursor:pointer;
}*/

#neighborLegend {
	position: relative;
	top: 288px;

	margin: 0px 2px;
	padding: 1px 5px;
	float: right;
	min-height: 22px;
	text-align: center;
	
	color: #fff;
	line-height: 22px;
	font-size: 10px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	background-image: none;
	
    border-top: 1px solid #ddd;
    box-shadow: #444 0px 1px 2px;
    background-color: #85986b; 
    background-repeat: repeat-x; 
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b791), to(#85986b)); 
    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #a8b791, #85986b); 
    /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #a8b791, #85986b); 
    /* IE 10 */ background: -ms-linear-gradient(top, #a8b791, #85986b); 
    /* Opera 11.10+ */ background: -o-linear-gradient(top, #a8b791, #85986b);	

    cursor: hand;
    cursor: pointer;

}

.legendTitle {
	float:left;
	font-size:11px;
	color:#333;
	font-weight:bold;
	height:20px;
	margin:0px;
	padding:0px 0px 6px 5px;	
}
#neighborLegendCloseBtn {
	float:right;
	font-size:11px;
	color:#333;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	padding:0px;
	right:0px;	
	top:-22px;
	background: #ddd;
	border-radius: 30px;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background-color: #ddd;
	cursor:pointer;
	-moz-box-shadow: 0px 3px 2px #444;
	-webkit-box-shadow: 0px 3px 2px #444;
     box-shadow: 0px 3px 2px #444; 
     position: relative;
	
}

#neighborLegendCloseBtn:hover, #neighborLegendCloseBtn:focus, #neighborLegendCloseBtn:active {
	color: #903;

}

#neighborDisplayLegend  {
	position:absolute;
	z-index:300;
/*	display:none;
*/	padding:0px;
	margin:0px;
	width:100%;
	bottom: 0;
	border:none;
	background-color: #fff;
	opacity: 0.9;
	-moz-box-shadow: 0px -2px 2px #444;
	-webkit-box-shadow: 0px -2px 2px #444;
     box-shadow: 0px -2px 2px #444; 
	cursor: hand;
	cursor: pointer;
	
}

.animatedDisplayNone {
	height: 0;
	opacity: 0;
	-moz-opacity: 0;
	transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.animatedDisplayBlock {
	max-height: 400px;
	height: auto;
	opacity: 1;
	-moz-opacity: 1;
	transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

#neighborLegendsIcon {
	padding:0px;
	margin:0px;
	width:100%;
}

.neighborIconImage{
	background-color:#FFF;
	float:left;
	margin:0px 0px 10px 5px;
	padding:0px;
	border:none;
	width:30px;
	height:30px;
}
.neighborIconInfoText{
	background-color:#FFF;
	float:left;
	margin:6px 0px 0px 5px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	width:120px;
	height:20px;
	
}
#neighborDivIconInfo {
	position:absolute;
	margin:0px;
	padding:0px;
	display:none;
	z-index:1200;
	
}
.neighborTargetCountryName {
	position:absolute;
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	
}
#neighborCommentBoxTipTop {
position:relative;
top:2px;
z-index:1700;
	margin:0px 0px 0px 0px;
	padding:0px;
	background-image:url(../images/neighbors/arrowUp.png);
	background-repeat:no-repeat;
	width:16px;
	height:14px;
	opacity: 0.9;
}
	
#neighborCommentBoxBody	{
	position:relative;
	margin:0px 0px 0px;
	width:157px;
	background: #fff;
	opacity: 0.9;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #aaa;
}

#neighborCommentBoxTipBottom {
	position:relative;
	margin:0px;
	padding:0px;
	background-image:url(../images/neighbors/arrowDown.png);
	background-repeat:no-repeat;
	width:16px;
	height:14px;
	opacity: 0.9;
}
#neighborCommentBox {
	position:absolute;
	margin:0px;
	padding:10px 6px;
	background: #fff;
	display:none;
}
#neighborCommentBoxTarget {
	position:absolute;
	z-index:1600;
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000000;
	width:166px;
}
#neighborCommentBoxCloseBtn{
	position:absolute;
	z-index:1700;
	margin:0px;
	padding:0px;
	height:12px;
	width:12px;
	display:none;
	cursor:pointer;
	background-color: #eee;
	border-radius: 50px;

}
#neighborTargetHelp
{
	position:absolute;
	z-index:1600;
	top:-2px;
	left:5px;
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#ffffff;
	width:166px;
	height:10px;
	display:none;
}

#neighborBodyBorderBox {
	position:relative;
	margin:0px;
	padding:10px 5px;
	border-radius: 3px;	
	width:166px;
	background: #fff;

}



